.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    background: #9EB384;
    border: black solid;
    border-radius: 5%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }